# Created by https://www.toptal.com/developers/gitignore/api/ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible

### Ansible ###
*.retry
group-2-elk
ssh.cfg
configuration/

# End of https://www.toptal.com/developers/gitignore/api/ansible
